#search {
  width: 18rem;
}

.gradient-custom {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 0.5),
    rgba(37, 117, 252, 0.5)
  );
}

.submit-button {
  background: rgba(106, 17, 203, 0.5);
}

.city-temp {
  position: absolute;
  right: 150px;
}

/* .stretch-card > .card {
  width: 100%;
  min-width: 100%;
} */

body {
  background-color: #f9f9fa;
}

/* .flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card-weather {
  background: #e1ecff;
  background-image: linear-gradient(
    to left bottom,
    #d6eef6,
    #dff0fa,
    #e7f3fc,
    #eff6fe,
    #f6f9ff
  );
} */

/* .card-weather .card-body:first-child {
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1557323760/weather.svg)
    no-repeat center;
  background-size: cover;
} */

/* .card-weather .weather-date-location {
  padding: 0 0 38px;
}

.h3,
h3 {
  font-size: 1.56rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.text-gray,
.card-subtitle,
.new-accounts ul.chats li.chat-persons a p.joined-date {
  color: #969696;
}

p {
  font-size: 13px;
}

.text-gray,
.card-subtitle,
.new-accounts ul.chats li.chat-persons a p.joined-date {
  color: #969696;
}

.display-3 {
  font-size: 2.5rem;
}

.card-weather .card-body {
  background: #ffffff;
}

.card-weather .weakly-weather {
  background: #ffffff;
  overflow-x: auto;
}

.card-weather .weakly-weather .weakly-weather-item {
  flex: 0 0 14.28%;
  border-right: 1px solid #f2f2f2;
  padding: 1rem;
  text-align: center;
} */

footer {
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 0.5),
    rgba(37, 117, 252, 0.5)
  );
}
